<video
  #video
  class="video"
  preload="auto"
  onloadeddata="this.muted=true;this.play()"
  height="100%"
  width="100%"
  muted
  autoplay
  loop
>
  <source type="video/mp4" src="../../../assets/videos/intro.mp4" />
  Your browser does not support video on HTML.
</video>

<div class="starwars" #starwars>
  <p #starline>
    When you want something,
  </p>
  <p #starline>
    all the universe conspires
  </p>
  <p #starline>
    in helping you to achieve it.
  </p>
  <p #starline>
    <strong>
      <i><small>Paulo Coelho</small></i>
    </strong>
  </p>

  <p #starline><br /><br /></p>
  <p #starline><br /><br /></p>
  <p #starline>
    Feed is that conspiracy:
  </p>
  <p #starline>
    the conspiracy of trust.
  </p>
  <p #starline><br /><br /></p>
  <p #starline><br /><br /></p>

  <p #starline>
    Trust is the single
  </p>
  <p #starline>
    most important ingredient
  </p>
  <p #starline>
    missing from digital relationships.
  </p>
  <p #starline><br /><br /></p>
  <p #starline><br /><br /></p>

  <p #starline>
    Boston Consulting Group
  </p>
  <p #starline>
    and the World Economic Forum
  </p>
  <p #starline>
    forecast the digital economy
  </p>
  <p #starline>
    to be worth between
  </p>
  <p #starline>
    <strong>1.5 and 2.5 trillion dollars</strong>
  </p>
  <p #starline>
    <strong>by 2016.</strong>
  </p>
  <p #starline><br /><br /></p>
  <p #starline><br /><br /></p>

  <p #starline>
    The difference
  </p>
  <p #starline>
    between those numbers
  </p>
  <p #starline>
    is
    <a
      href="http://www3.weforum.org/docs/WEF_IT_RethinkingPersonalData_Report_2012.pdf "
      target="_blank"
      >trust</a
    >.
  </p>
  <p #starline><br /><br /></p>
  <p #starline><br /><br /></p>

  <p #starline>Feed is a digital mechanism of <strong>trust</strong></p>
</div>

<div
  class="intro-paragraph"
  [ngStyle]="{opacity:offset>1000?0:(2000-offset)/2000.0}"
>
  <p>
    Feed is an intelligent property rights and payments platform, using
    intelligent software and digital security that goes well beyond
    'military-grade' to give users true ownership of their data and IP.
  </p>
  <p>
    Feed facilitates trusted exchanges of users' progressively-perfecting data
    assets with businesses, researchers, and governments in a <b>trusted</b>,
    audited, and independently verifiable manner; on their own terms and
    conditions.
  </p>
</div>
